html,
body {
  margin: 0;
  padding: 0;
  background: #141414;
}

#svg {
  display: block;
  --h: min(100vh, 100vw);
  margin: auto;
/* height: var(--h);
  width: var(--h);  */ 
  background-color: #fff3df;
}
